<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Icelandic Bands</title>
</head>
<body>
<h2>Icelandic Bands New</h2>

<form method="POST" action="/bands">
Name: <input type="text" name="name"><br>
Song: <input type="text" name="song"><br>
<input type="submit">
</form>

</body>
</html> 
