<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Icelandic Bands</title>
</head>
<body>
<h2>Icelandic Bands Show</h2>

<%= bands[i].name %> has a song called <%= bands[i].song %>

</body>
</html> 